body {
    background-image: url("sec-1.jpg");
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 50px;
    font-weight: bolder;
    font-style: initial;
    text-shadow: 2px 2px;
    height: 80px;
    width: 650px;
    border-style: outset;
    border-width: 15px;
}

h3 {
    font-family: "Sofia", sans-serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 20px;
}

.b1 {
    position: relative;
    background-color: #2f3c38;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 25px;
}

.b1:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.b1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.b2 {
    position: relative;
    background-color: #2f3c38;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 25px;
}

.b2:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.b2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.b3 {
    position: relative;
    background-color: #2f3c38;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 25px;
}

.b3:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.b3:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.b4 {
    position: relative;
    background-color: #2f3c38;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 25px;
}

.b4:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.b4:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.b5 {
    position: relative;
    background-color: #2f3c38;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 25px;
}

.b5:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.b5:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.b6 {
    position: relative;
    background-color: #2f3c38;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 25px;
}

.b6:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.b6:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
