* {
    box-sizing: border-box;
    border-radius: 15px;
  }
  body {
    font-family: Tahoma, Arial;
  }
  .parent {
    width: 900px;
    margin: 40px auto;
    background-color: #EEE;
    padding: 20px;
  }
  .parent input {
    border: none;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
  }
  .parent input:focus {
    outline: none;
  }
  .parent .buttons {
    display: flex;
    justify-content: space-between;
  }
  .parent .buttons span {
    background-color: #005a96;
    text-align: center;
    color: #FFF;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .parent .results {
    background-color: #FFF;
    padding: 20px;
    margin-top: 15px;
    border: 2px dashed #EEE;
    text-align: center;
  }
  .parent .results span span {
    font-weight: bold;
    color: #960032;
  }
  .parent .results span .keys {
    display: block;
  }
  .container{

    margin: 20px auto;
    width: 1200px;
}
  .container .color-switcher{
      text-align: center;
      margin: 20px;
      list-style: none;
  }
  .container .color-switcher li{
      width: 20px;
      height: 20px;
      display: inline-block;
      cursor: pointer;
      margin: 5px;
  }
.container .color-switcher li :first-child{
    background-color: #960032;
}
.container .color-switcher li :nth-child(2){
    background-color: #009670;
}
.container .color-switcher li :nth-child(3){
    background-color: #005296;
}
.container .color-switcher li :nth-child(4){
    background-color: #dad623;
}
.container h1{
    color: #960032;
}
.container div{
    background-color: #b1300f;
    padding: 20px;
    color: #fff;
}
